{
  "features": {
    "http3_enable": false,
    "quic_gso_enable": false,
    "ssl_upgrade": false,
    "server_hardening": false,
    "cms_protection": false,
    "persistent_logging": false,
    "real_ip_logging": false,
    "fastcgi_cache_inactive": "60m",
    "fastcgi_cache_valid": "60m",
    "client_max_body_size": "200m"
  },
  "backup_retention_days": 30
}
